# Python specific files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Virtual environments
env/
venv/
ENV/
venv.bak/
virtualenv/
*.env
*.venv
janusvenv/  # As per your specific folder for virtual environment

# Django specific files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3

# Static and media files
/staticfiles/
/media/
/mediafiles/

# Local environment settings
.env
.local
*.local_settings.py
config/settings/local.py  # If you have local settings files

# Database files
*.db
*.sqlite3

# Django migrations
**/migrations/*
!**/migrations/__init__.py

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode and other editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Other ignored files
.DS_Store
Thumbs.db
*.bak
*.swp
*.orig
*.tmp